@page
@model IndexModel
@{
    Layout = null;
}
@{
    ViewData["Title"] = "Home page";
}

<div>
    <a asp-page="/Signup"><button>Signup</button></a>
    <a asp-page="/Login"><button>Login</button></a>
</div>
