<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/CreateUser" method="post">
        <input type="gmail" name="Gmail" placeholder="type gmail">
        <input type="text" name="Username" placeholder="Type name">
        <select name="SelectTech" multiple>
            <option value="Python">Python</option>
            <option value="ReactJS">ReactJS</option>
            <option value="Flutter">Flutter</option>
            <option value="VueJS">VueJS</option>
            <option value="NodeJS">NodeJS</option>
        </select>
        <button type="submit">create</button>
    </form>
    <a href="/CreatePost"><button>Create Post</button> </a>
    <a href="/ShowFeed"><button>Show feeds</button></a>
</body>
</html>